* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html {
  background-color: greenyellow;
}
#game {
  text-align: center;
  color: crimson;
  border: 5px solid green;
  max-width: 400px;
  margin: 10px auto;
}
header,
footer {
  background-color: cornsilk;
  padding: 10px;
}

main {
  margin: 10px auto;
}

.try {
  display: flex;
  justify-content: space-around;
}

.left,
.right {
  display: flex;
}

.left > div,
.right > div {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: darkgrey;
  margin: 5px;
}

.select-wrapper {
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
}

.select-wrapper select {
  width: 35px;
  height: 35px;
  border: 0;
  outline: none;
}

input[type="button"] {
  background-color: rgb(86, 37, 37);
  cursor: pointer;
  color: #cccccc;
  border-radius: 12px;
  height: 35px;
  width: 100px;
  margin: 5px auto;
  transition: 0.5s;
}

select:hover,
input:hover {
  opacity: 0.8;
}

input[type="button"]:active {
  background-color: rgb(224, 46, 46);
}
